* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    padding: 10px;
}

.container {
    max-width: 451px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    padding: 5px;
    justify-content: space-around;
}

.column {
    width: 100px;
    padding-top: 8px;
    height: 200px;
    margin-bottom: 6px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    text-align: center;
}

.circle1 {
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ecf5f3a4;
    padding: 10px;
}

.col1 {
    background-color: #1abc9c;
}

.col2 {
    background-color: #3498db;
}

.col3 {
    background-color: #9b59b6;
}

.col4 {
    background-color: #e67e22;
}

.col5 {
    background-color: #e74c3c;
}

.col6 {
    background-color: #1abc9c;
}

.col7 {
    background-color: #3498db;
}

.col8 {
    background-color: #9b59b6;
}