* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* color1  #1abc9c*/

/* color2  #3498db*/

/* color3 #9b59b6 */

/* color4 #9b59b6 */

/* color 5 #9b59b6 */

/* color6 #9b59b6 */

/* color 7 #3498db */

/* color 8 #9b59b6 */

/*  color rond #ecf5f3 */

body {
    padding: 5px;
}

.container {
    height: 100vh;
    display: flex;
    border: 1px solid black;
}

.column {
    flex: 1;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8px;
}

.circle1 {
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ecf5f3a4;
    padding: 10px;
}

.col1 {
    background-color: #1abc9c;
}

.col2 {
    background-color: #3498db;
}

.col3 {
    background-color: #9b59b6;
}

.col4 {
    background-color: #e67e22;
}

.col5 {
    background-color: #e74c3c;
}

.col6 {
    background-color: #1abc9c;
}

.col7 {
    background-color: #3498db;
}

.col8 {
    background-color: #9b59b6;
}